<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <connectionStrings>
      <add name="DBCS" connectionString="Data Source = DESKTOP-KGQ3EPM; 
                                         Initial Catalog = PhonebookDB;
                                         Integrated Security = true; 
                                         TrustServerCertificate = true;" />
    </connectionStrings>
  </appSettings>
</configuration>